@model GestionLocationWebApplication.Models.Entities.Reservation

@{
    ViewData["Title"] = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_Layout8";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Nom)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Nom)
        </dd>
        
                
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Prenom)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Prenom)
        </dd>
        
                
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Tel)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Tel)
        </dd>
        
                
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Ci)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Ci)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
