@model IEnumerable<GestionLocationWebApplication.Models.Entities.Reserver>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "_Layout9";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>@Html.DisplayNameFor(model => model.Article.Label)</th>
                                    <th>@Html.DisplayNameFor(model => model.Article.Description)
                                    <th>@Html.DisplayNameFor(model => model.Article.Prix)</th>
                                    <th>@Html.DisplayNameFor(model => model.Article.Quantity)</th>
                                    <th>@Html.DisplayNameFor(model => model.Article.Categorie)</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reservation.Date)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Reservation.Client)
                                    </th>
                                    


                                    <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Article.Label)
            </td>
            
                       
            <td>
                @Html.DisplayFor(modelItem => item.Article.Description)
            </td>
            
                       
            <td>
                @Html.DisplayFor(modelItem => item.Article.Prix)
            </td>
            
                       
            <td>
                @Html.DisplayFor(modelItem => item.Article.Quantity)
            </td>
            
                       
            <td>
                @Html.DisplayFor(modelItem => item.Article.Categorie.Label)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Date)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Client)
            </td>
            
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
